{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>404</h1>
    <h2>Page non trouvée</h2>
    <p>La page que vous recherchez n'a pas été trouvée.</p>
{% endblock %}
{% block header_img %}{% endblock %}