{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>403</h1>
    <h2>Accès interdit</h2>
    <p>Vous ne pouvez pas accéder à la page Web car vous n’avez pas l’autorisation requise.</p>
{% endblock %}
{% block header_img %}{% endblock %}